.postDiv {
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #f1f442;
  display: inline-block;
  justify-content: center;
}
/*https://internetingishard.com/html-and-css/flexbox/*/
